@font-face {
    font-display: swap;
    font-family: 'gulax';
    font-stretch: normal;
    font-style: normal;
    font-weight: normal;
    src: url('../../assets/fonts/Gulax-Regular.woff') format('woff'),
    url('../../assets/fonts/Gulax-Regular.woff2') format('woff2');
}

h1,h2 {
    font-family: 'gulax', arial;
}